@page "{id}"
@model VtnrNetRadioServer.Pages.EditStationVm
@{
    Layout = "_Layout";
}
<form method="POST">
    <table style="width: 100%">
        <colgroup>
            <col span="1" style="width: 30%">
            <col span="1" style="width: 70%">
        </colgroup>
        <tbody>
            <tr>
                <td>Item Type</td>
                <td>
                    <select asp-for="Item.ItemType" asp-items="Model.ItemTypes" style="width: 100%"></select>
                </td>
            </tr>
            <tr>
                <td>Station Name</td>
                <td><input asp-for="Item.StationName" style="width: 100%" /></td>
            </tr>
        </tbody>
    </table>

    <fieldset>
        <legend>Station Url</legend>
        <textarea asp-for="Item.StationUrl" style="width: 100%"></textarea>
    </fieldset>
    <hr style="margin: 10px 0;" />
    <button type="submit">update</button>
</form>