@model IEnumerable<VtnrNetRadioServer.Models.ListOfItemsItem>
@{
    Layout = "_Layout";
}
<style>
    body {
        margin: 2px;
    }

    html {
        background-color: aliceblue;
    }

    hr {
        margin: 0;
    }
</style>

<div style="max-width: 400px;">
    @foreach (var station in Model)
    {
        <div style="display: flex; margin: 5px; align-items: flex-start;">
            <div style="display: flex; flex-grow: 1;">
                @Html.ActionLink(station.StationName, "Edit", new { id = station.StationName })
            </div>
            <div style="display: flex; flex-grow: 0;">
                <button style="margin: 0 5px;">&uArr;</button>
                <button style="margin: 0 5px;">&dArr;</button>
            </div>
        </div>
        <hr />
    }
    <fieldset>
        <legend>New Station</legend>
        <input type="text" name="station-name" value="station-name" />
        <input type="text" name="station-url" value="station-url" />
        <button>Add Station</button>
    </fieldset>
</div>
