@model IEnumerable<VtnrNetRadioServer.Repositories.ItemContainer>
@{
    Layout = "_Layout";
}
<style>
    button {
        background-color: transparent;
        cursor: pointer;
        padding: 0;
        border: 1px solid transparent;
    }
    #add-form {
        display: flex;
        flex-direction: row;
        margin: 10px 5px;
        justify-content: space-between;
        padding: 0; 
    }
</style>
    <form asp-controller="Stations" asp-action="Add" method="POST">
        <div id="add-form">
            <input 
                style="width: 40%;"
                type="text" 
                name="name" 
                value="station-name" />
            <input 
                style="width: 40%;"
                type="text" 
                name="url" 
                value="station-url" />
            <button 
                style="width: 10%;"
                class="mdi mdi-plus-circle mdi-24px"></button>
        </div>
    </form>
<div>    
    @foreach (VtnrNetRadioServer.Repositories.ItemContainer itemContainer in Model)
    {
        <hr />
        
        <!-- <input name="id" type="hidden" value="@itemContainer.Key"> -->
        <div style="display: flex; margin: 5px; align-items: flex-start;">
            <span style="margin: auto 5px; display: flex; flex-grow: 1;">
                @itemContainer.Item.StationName
            </span>

            <div style="display: flex; flex-grow: 0;">
                <form asp-action="Edit" asp-route-id="@itemContainer.Key" method="GET" asp-anti-forgery="false">
                    <button  class="mdi mdi-pencil-circle mdi-24px" style="margin: 0 5px;" />
                </form>
                
                <form asp-controller="Stations" method="POST">
                    <input type="hidden" name="id" value="@itemContainer.Key" />
                    <button asp-action="Down" class="mdi mdi-arrow-down-bold-circle mdi-24px" style="margin: 0 5px;" />
                    <button asp-action="Up" class="mdi mdi-arrow-up-bold-circle mdi-24px" style="margin: 0 5px;" />
                    <button 
                            asp-action="Delete" 
                            class="mdi mdi-close-circle mdi-24px" 
                            style="margin: 0 5px;"
                            onclick="return confirm('Are you sure you want to delete?')"/>
                </form>
            </div>
        </div>
    }
</div>
