@model IEnumerable<VtnrNetRadioServer.Repositories.ItemContainer>
@{
    Layout = "_Layout";
}
<style>
    body {
        margin: 2px;
        max-width: 400px;
    }

    html {
        background-color: aliceblue;
    }

    hr {
        margin: 0;
    }

    button {
        background-color: transparent;
        cursor: pointer;
        padding: 0;
        border: 1px solid transparent;
    }
    #add-form {
        display: flex;
        flex-direction: row;
        margin: 10px 5px;
        justify-content: space-between;
        padding: 0; 
    }
</style>
    <form asp-controller="Stations" asp-action="Add" method="POST">
        <div id="add-form">
            <input 
                style="width: 40%;"
                type="text" 
                name="name" 
                value="station-name" />
            <input 
                style="width: 40%;"
                type="text" 
                name="url" 
                value="station-url" />
            <button 
                style="width: 10%;"
                class="mdi mdi-plus-circle mdi-24px"></button>
        </div>
    </form>
<div>    
    @foreach (var itemContainer in Model)
    {
        <hr />
        <form asp-controller="Stations" method="POST">
            <input name="id" type="hidden" value="@itemContainer.Key">

            <div style="display: flex; margin: 5px; align-items: flex-start;">
                <button 
                    class=""
                    style="margin: auto 5px; display: flex; flex-grow: 1;"
                    asp-action="Edit">@itemContainer.Key</button>

                <div style="display: flex; flex-grow: 0;">
                    <button class="mdi mdi-arrow-up-bold-circle mdi-24px" style="margin: 0 5px;" asp-action="Up" />
                    <button class="mdi mdi-arrow-down-bold-circle mdi-24px" style="margin: 0 5px;" asp-action="Down" />
                    <button 
                        class="mdi mdi-close-circle mdi-24px"
                        style="margin: 0 5px;"
                        asp-action="Delete" />
                </div>
            </div>
        </form>
    }
</div>
